.calendar
  .calendar__month-display
    display: flex
    justify-content: space-between
    align-items: center

    .calendar__month-label
      font-family: 'Roboto', sans-serif
      color: #959595
      font-size: 1.5em


  .calendar__day-names
    margin-top: 16px
    font-size: 1em

    .calendar__day
      width: 100%
      height: 100%
      border: 1px solid #e3e3e3
      text-transform: uppercase
      font-family: 'Roboto', sans-serif
      text-align: center
      padding: 8px 0

  .calendar__week

    .day
      width: 100%
      height: 100%
      border: 1px solid #e3e3e3
      font-family: 'Roboto', sans-serif
      font-size: 1.5em
      cursor: pointer
      padding: 16px
      transition: .3s background
      &:hover
        border: 1px solid rgba(67, 134, 252, 0.5)
        background: rgba(67, 134, 252, 0.5)

    .different-month
      background: rgba(67, 134, 252, 0.13)
      cursor: pointer

    .selected
      border: 1px solid rgb(67, 134, 252)
      background: rgb(67, 134, 252)
      color: white


