.container
  width: 100%
  margin: 0 auto

.row
  display: flex

.col
  width: (100% / 7)

.ratio
  width: 100%

.ratio-1-1
  padding-top: 100%

.ratio-5-1
  padding-top: 20%

.ratio-inner
  position: relative
  height: 0
  border: none

.ratio-content
  position: absolute
  top: 0
  right: 0
  bottom: 0
  left: 0


