.main-layout
  .main-layout__menu-trigger
    position: fixed
    right: 16px
    transition: .3s bottom

  .shown
    bottom: 16px

  .hidden
    bottom: -40px

  .main-layout__left-menu

    @include _979
      left: -320px

    height: 100vh
    width: 320px
    box-shadow: 0 0 4px rgba(0, 0, 0, .2)
    position: fixed
    left: 0
    top: 0
    background: #4386fc
    padding: 16px

    .left-menu__day
      color: white
      font-size: 10em
      font-family: 'Roboto', sans-serif
      text-align: center

    .left-menu__month
      color: white
      font-size: 3em
      font-family: 'Roboto', sans-serif
      text-align: center


  .main-layout__right-menu
    height: 100vh
    width: 320px
    background: white
    box-shadow: 0 0 4px rgba(0, 0, 0, .2)
    position: fixed
    top: 0

    .right-menu__header
      border-bottom: 3px solid #4386fc
      padding: 16px
      display: flex
      justify-content: space-between
      align-items: center

      .right-menu__header-title
        font-family: 'Roboto', sans-serif
        color: #959595
        font-size: 1.5em

  .right-menu__event
    padding: 16px
    font-family: 'Roboto', sans-serif
    color: #626262
    font-size: 1em

  .main-layout__content

    transition: .3s margin-right, .3s margin-left

    @include _979
      margin-left: 0

    @include _768
      margin-right: 0

    padding: 16px
    margin-right: 320px
    margin-left: 320px

.menu-opened
  .main-layout__right-menu
    transition: .3s right
    right: 0

.menu-closed
  .main-layout__content
    margin-right: 0

  .main-layout__right-menu
    transition: .3s right
    right: -320px